%h1
  view 
	%span.subhead profile


%p 
	Profile information here for #{@user.title} #{@user.first_name} #{@user.last_name}

%p
	Location:
	%br/
	#{@user.location_city}, #{@user.location_state}

%p
	Industry:
	%br/
	=@user.industry_name

%p
	Industries interested in:
	%br/
	=@user.industries_interested_names

%p
	Headline:
	%br/
	=@user.headline

%p
	Bio:
	%br/
	=@user.bio

%p
	Phone:
	%br/
	=@user.phone

%p
	URL:
	%br/
	=@user.url

- if @user.photo_file_name
	Photo:
	= image_tag @user.photo.url(:thumbnail_small)
	= image_tag @user.photo.url(:thumbnail_large)

%p
	Company:
	%br/
	=@user.company

%p
	Education:
	%br/
	=@user.school
	=@user.graduation_year
	=@user.major

%p
	Associations:
	%br/
	=@user.groups

%p
	Interests:
	%br/
	=@user.interests

%p
	Hometown:
	%br/
	#{@user.hometown_city}, #{@user.hometown_state}

%p= link_to 'Edit profile', edit_user_path(@user)
